.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 960px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }
}

.vr-btn {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    z-index: 100;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}